<!DOCTYPE html>
<html>
	<head>
		<title>Twitter App - Index Page</title>
	</head>
	<body>
		<h1>Welcome to the Twitter App</h1>
		<p>This is the index page of the Flask application.</p>
		<p>
			You can interact with the app by making HTTP requests to specific routes.
		</p>
        <img src="static/Gear-Twitter-Side-navigation-Expanded-Home-gb.jpg"></img>
        <img src = "https://media.wired.com/photos/5d2c0feed25a5400091dfabb/master/w_1600,c_limit/Gear-Twitter-Side-navigation-Expanded-Home-gb.jpg"></img>
	</body>
</html>
