<!DOCTYPE html>
<html>
	<head>
		<title>Twitter App - Index Page</title>
	</head>
	<body>
		<h1>Welcome to the Twitter App</h1>
		<p>This is the index page of the Flask application.</p>
		<p>
			You can interact with the app by making HTTP requests to specific routes.
		</p>
        <img src="static/Twitter-new-design.png" height="300"></img>
        <img src="https://media.wired.com/photos/5d2c0feed25a5400091dfabb/master/w_1600,c_limit/Gear-Twitter-Side-navigation-Expanded-Home-gb.jpg" height="300"></img>

        <p>The Audio</p>
        <audio controls>
            <source src="https://cdn.pixabay.com/download/audio/2023/02/28/audio_52ccaf1a85.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>

        <p>The Video</p>
        <video controls height="300">
            <source src="static/video.mp4" type="video/mp4">
            Your browser does not support the video element.
        </video>
    </body>
</html>
