<!DOCTYPE html>
<html>
	<head>
		<title>Twitter App - Index Page</title>
	</head>
	<body>
		<h1>Welcome to the Twitter App</h1>
		<p>This is the index page of the Flask application.</p>
		<p>
			You can interact with the app by making HTTP requests to specific routes.
		</p>
		<!-- First Twitter image -->
		<img src="https://media.wired.com/photos/5d2c0feed25a5400091dfabb/master/w_1600,c_limit/Gear-Twitter-Side-navigation-Expanded-Home-gb.jpg" alt="Twitter Image 1">
		<!-- Second Twitter image -->
		<img src="https://www.thriveability.co.uk/hs-fs/hubfs/Blog_Inner_Main/twitter-new-design/Screen%20Shot%202019-04-25%20at%2009.08.30.png?width=2291&name=Screen%20Shot%202019-04-25%20at%2009.08.30.png" alt="Twitter Image 2">

		

		</body>
</html>
